$theme-colors: (
    "primary": #ff7f32,
    "secondary": #64696f,
    "dark": #000000
);
$primary: #ff7f32;

@import "node_modules/bootstrap/scss/bootstrap";

@import url("//hello.myfonts.net/count/3c7fba");
  
@font-face {
  font-family: 'MuseoSans-700';
  src: url('webFonts/MuseoSans-700/font.woff2') format('woff2'), url('webFonts/MuseoSans-700/font.woff') format('woff');
}
@font-face {
  font-family: 'MuseoSans-500';
  src: url('webFonts/MuseoSans-500/font.woff2') format('woff2'), url('webFonts/MuseoSans-500/font.woff') format('woff');
}
@font-face {
  font-family: 'MuseoSans-900';
  src: url('webFonts/MuseoSans-900/font.woff2') format('woff2'), url('webFonts/MuseoSans-900/font.woff') format('woff');
}

.MuseoSans-900 { 
	font-family: MuseoSans-900;
}
.MuseoSans-700 { 
	font-family: MuseoSans-700;
}
.MuseoSans-500 { 
	font-family: MuseoSans-500;
}



body {
	font-size: 1.1rem;
	font-family: MuseoSans-500;
}
a {
	transition: all 0.3s ease;
}

h1,h2,h3 {
	font-family: MuseoSans-900;
}
h4,h5,h6 {
	font-family: MuseoSans-700;
}

.btn {
	border-radius: 0;
	border-width: 3px;
	padding: 0.5rem 1.2rem;
	font-size: 1.4rem;
	font-family: MuseoSans-900;
}
.border-text {
	display: inline;
	border: solid 5px $dark;
}

.border {
	border-width: 2px !important;
}


// Hamburger Menu

$background: #fff;
$color: $dark;

$height-icon: 30px;
$width-line: 50px;
$height-line: 3px;

$transition-time: 0.4s;
$rotation: 45deg;
$translateY: ($height-icon / 2);
$translateX: 0;

.navbar-toggler {
  margin-left: 1.5em;
  border: none;
  border-radius: 0;
  width:$width-line;
  height:$height-icon;
  position:relative;
  display:block;
 // margin: ($height-icon * 2) auto $height-icon auto;
  &:focus {
  	outline: none;
  }
  .line {
    display:block;
    background:$color;
    width:$width-line;
    height:$height-line;
    position:absolute;
    left:0;
    border-radius: 0;
    transition: all $transition-time;
    -webkit-transition: all $transition-time;
    -moz-transition: all $transition-time;
    
    &.line-1 {
      top:0;
    }
    &.line-2 {
      left: 20%;
      top:50%;
    }
    &.line-3 {
      top:100%;
      left: 40%;
    }
  }
  &:hover, &:focus {
     .line-1 {
        transform: translateY($height-line / 2 * -1);
        -webkit-transform: translateY($height-line / 2 * -1);
        -moz-transform: translateY($height-line / 2 * -1);
     }
    .line-3 {
        transform: translateY($height-line / 2);
        -webkit-transform: translateY($height-line / 2);
        -moz-transform: translateY($height-line / 2);
    }  
  }
  &.active {
    .line-1 {
      transform: translateY($translateY) translateX($translateX) rotate($rotation);
      -webkit-transform: translateY($translateY) translateX($translateX) rotate($rotation);
      -moz-transform: translateY($translateY) translateX($translateX) rotate($rotation);
    }
    .line-2 {
      opacity:0;
    }
    .line-3 {
      transform: translateY($translateY * -1) translateX($translateX) rotate($rotation * -1);
      -webkit-transform: translateY($translateY * -1) translateX($translateX) rotate($rotation * -1);
      -moz-transform: translateY($translateY * -1) translateX($translateX) rotate($rotation * -1);
      left: 0;
    }
  }
}
#navBar {
	position: absolute;
    top: 5em;
    left: 2.5em;
    background: white;
    z-index: 99;
    a {
    	padding: 0.5em 1rem;
    	font-size: 1rem;
    	font-family: MuseoSans-700;
    }
}
.jumbotron {
	padding: 7rem 0;
	position: relative;
	.copy {
		z-index: 2;
		position: relative;
	}
	h1 {
		font-size: 5.5rem;
		padding: 0 0.2em;
	}
	h2 {
		font-size: 4.5rem;
	}
	h3 {
		font-size: 3rem;
	}

	.upskill-feature {
		font-family: MuseoSans-900;
	    left: 33%;
	    bottom: 20px;
	    position: absolute;
	    z-index: 0;
	    font-size: 22.5rem;
	    color: #fff;
	    display: block;
	    line-height: 1;

	    @include media-breakpoint-down(md) {
	    	font-size: 16rem;
	    }
	}
}

// Header Section

.navbar-brand {
	img {
		max-width: 165px;
		padding: 1em 0;
	}
}


// Courses Section

.section-courses, .section-sponsors, .section-intro {
	.container {
		padding: 5rem 0;

		@include media-breakpoint-down(md) {
			padding: 5rem 1rem;
		}
	}
}
.course-teaser {
	margin-bottom: 2rem;
	min-height: 200px;

	@include media-breakpoint-down(md) {
		min-height: 0;
	}
	.border-text {
		padding: 0 0.3em;
		border: solid 2px $primary;
	}

	.register {
		display: block;
		font-size: 1.7rem;
		font-family: MuseoSans-900;
		color: $dark;
		&:hover {
			color: $white;
			text-decoration: none;
		}
	}
}

// Logo Section

.logos {
	img {
		max-height: 100px;
		width: auto;
	}

	@include media-breakpoint-down(md) {
		flex-wrap: wrap;
		justify-content: center;
	}
}
.footer {
	font-size: 0.9rem;
    margin-top:3rem;
}
.navbar {
    border-bottom: 1px solid #eee;
}

