<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />    
    <link rel="stylesheet" href="css/style.css" />
    <link rel="icon" href="./img/icon.png" />
    <title>NEXT LEVEL - Sunhshine Coast Council</title>
  </head>
<body>
<nav class="navbar navbar-light bg-white">

<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBar" aria-controls="navBar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="line line-1"></span>
    <span class="line line-2"></span>
    <span class="line line-3"></span>
</button>

<div class="collapse navbar-collapse" id="navBar">
    <ul class="navbar-nav mr-auto">
    <li class="nav-item">
       <a class="nav-link" href="#course-overview">Course Overviews</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="https://invest.sunshinecoast.qld.gov.au/Innovation/AWS-Digital-Skills-Training" target="_blank">Register your Interest</a>
    </li>
    <li class="nav-item">
       <a class="nav-link" href="#sponsors">Partnerships</a>
    </li> 
    </ul>
</div>

<a class="navbar-brand" href="./index.html"><img src="/img/logo.svg" alt="Next Level"></a>

</nav>